.App {
  background-image: url(./background.png);
  width:1700px;
  height: 700px;
  top:10%;
  left: 5%;
  bottom: 10%;
  position: absolute;
}


.App-logo {
  height: 40vmin;
}

.App-header {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 1700px;
}

.App-link {
  color: #09d3ac;
}
